[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "third-party/yaml-cpp"]
	path = third-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third-party/lcm"]
	path = third-party/lcm
	url = https://github.com/lcm-proj/lcm.git
[submodule "third-party/qpOASES"]
	path = third-party/qpOASES
	url = https://github.com/coin-or/qpOASES.git
